@color-black: #3d4145;
.detail-nav-content {
  background-color: #6190e8;
}
.tab-content {
  //   margin-top: -16px;
}
.tab-centent-item {
  border-radius: 0;
  height: 80px;
  line-height: 70px;
}
.menu-title {
  color: white;
}
.recipe-item {
  width: 100%;
  min-height: 150px;
  margin-top: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #e6e6e6;
  border-radius: 10px;
  padding: 10px;
}
.detail-image-section {
  position: relative;
}
.image-content {
  width: 100%;
  min-height: 200px;
}
.scroll-content {
  padding: 20px;
}
.col-content {
  margin-top: -20px;
}
.recipe-name {
  font-size: 30px;
  color: #3d4145;
}
.recipe-abstruct {
  margin-left: 10px;
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #afabab;
}
.col-content {
  margin-top: -28px;
}
.difficulty-title {
  font-size: 28px;
  color: @color-black;
  margin-left: 20px;
}
.difficulty-sub-title {
  margin-left: 8px;
  font-size: 28px;
  color: #7f7e7e;
}
.clock-icon {
  margin-left: 20px;
}
.heart-icon {
  position: relative;
  top: 4px;
}
.time-title {
  font-size: 28px;
  color: @color-black;
  margin-left: 8px;
}
.desc-section {
  padding: 20px;
  border-top: 2px solid #f1f1f1;
  border-bottom: 2px solid #f1f1f1;
  margin-top: 30px;
}
.desc-text {
  font-size: 24px;
  color: #3d4145;
}
.step-title {
  font-size: 34px;
  color: black;
}
.step-desc {
  font-size: 28px;
  color: #3d4145;
}
.tips-text {
  font-size: 28px;
  color: #ff4f4f;
}
.detail-mask {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 94%;
  margin-left: -48%;
  background: rgba(242, 242, 242, 0.72);
  border-radius: 10px;
  padding: 5px 10px 0 10px;
}
.device-section {
  width: 80px;
  height: 30px;
  background-color: #e6e6e6;
  position: absolute;
}
.device-type {
  font-size: 24px;
  color: #3d4145;
}
.heart-section {
  position: relative;
  top: -1px;
  margin-left: 0px;
}
.main-text {
  color: #909090;
  font-size: 24px;
}
